# Virtual environments and packages
.venv*/
__pycache__/
*.pyc

# Log files and SLURM outputs
*.out
*.log

# Results files
resultados_avancados/
*.csv

# Licenses and private keys
secret/
*.lic

# Tests
tests/

# Old files
slurm_out/
*.old
*.sh